@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="text-center">
        <div class="form-inline">
            <button data-href="/users">Пользователи</button>
            <button data-href="/awards">Награды</button>
        </div>
        <div class="form-inline">

            <a href="/home/download">
                <button>Скачать информацию о пользователях</button>
            </a>

        </div>
    </div>
</body>
</html>
