@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <link href="~/Content/Style/StyleHome.css" rel="stylesheet" />
}
    <div class="text-center">
        <div>
            <div class="form-inline">
                <button data-href="/users" class="buttonOnclik btn btn-info btn-lg">Пользователи</button>
                <button data-href="/awards" class="buttonOnclik btn btn-info btn-lg">Награды</button>
            </div>
            <br />
            <div class="form-inline">
                <button data-href="/home/download" class="buttonOnclik btn btn-default btn-sm">Скачать информацию о пользователях</button>
            </div>
        </div>
    </div>