@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <link href="~/Content/Style/StyleUser.css" rel="stylesheet" />
    @RenderSection("style", required: false)
}
<div class="container body-content">
    @RenderBody()
    <hr />
</div>
